.container{
  margin-top:100px;
}
html{
  overflow-y: scroll;
}
body{
  background: url("../bakgrunnur2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.white{
  color:white;
}
